@page
@model DataVisualization.Pages.Index1Model
@{
    string text = "Hi";
}

@*@page "/line-chart"*@
@*@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Enums
@using System.Drawing*@
@using Radzen
@using Radzen.Blazor
@using System.Collections.Generic

<RadzenComponents />

<h3>Line Chart Example</h3>
@*<RadzenLineSeries Data="@Model.chartData" />*@
<RadzenButton Text="@text"></RadzenButton>


@*<Chart Config="_config" ></Chart>*@

@*<link rel="stylesheet" href="~/DataVisualization.styles.css" asp-append-version="true" />
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>*@